<div class="accordion" id="accordionExample">
  {{#each recipes as |recipe|}}
  <!-- Accordion item for each recipe -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{@index}}">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
        {{recipe.title}}
      </button>
    </h2>
    <div id="collapse{{@index}}" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <!-- Content for each Recipe -->
        <div class="card">
          <div class='card-body'>
            
            <h3>Nutrition Facts</h3>
            <img src={{recipe.image}}>
            <p> Calories: {{recipe.fat}}kcal </p>
            <p> Carbohydrates: {{recipe.carbohydrates}}g</p>
            <p> Fat: {{recipe.fat}}g</p>
            <p> Protein: {{recipe.protein}}g</p>
            <p> Sodium: {{recipe.sodium}}mg</p>
            <p> Cholesterol: {{recipe.cholesterol}}mg</p>
            <p> Sugar: {{recipe.sugar}}g</p>
            <p> Saturated Fat: {{recipe.saturatedFat}}g</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>